.main-container{
    background-color: #EEEED2;
    border: 4px solid black;
    border-radius: 5px;
    height: 520px;
    width: 520px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}
.square{
    height: 65px;
    width: 65px;
}
img{
    height: 90%;
    width: 100%;
    margin: 3px auto;
}
.odd .square:nth-of-type(even){
    background-color: #769656;
}
.even .square:nth-of-type(odd){
    background-color: #769656;
}